<ul class="navbar-nav navbar-sidenav" id="exampleAccordion">

  <li *ngFor="let rota of rotas" [ngClass]="{'active': rota.path === atual?.path}" class="nav-item" data-toggle="tooltip"
    data-placement="right" title="{{ rota.data.name }}">
    <a class="nav-link" href="javascript:void(0);" (click)="irPara(rota.path);">
      <i [ngClass]="rota.data.icon" aria-hidden="true"></i>&nbsp;
      <span class="nav-link-text">{{ rota.data.name }}</span>
    </a>
  </li>

</ul>

<ul class="navbar-nav sidenav-toggler">
  <li class="nav-item">
    <a class="nav-link text-center" id="sidenavToggler">
      <i class="fa fa-fw fa-angle-left"></i>
    </a>
  </li>
</ul>